<div class="question-detail">
  <h1>{{question.question}}</h1>
  <h2>By {{question.questionAuthor}} on {{question.questionDate}}</h2>
  <h2>{{question.notes}}</h2>
</div>
<div class="answers-list">

</div>
