body {
  font-family: serif;
  color: #000000;
  background-color: #FFFFFF;
}

/*---------------------------------------Navbar Styling---------------------------------------*/

nav {
  background-color: #000000;
}

nav a {
  color: #A9A9A9;
}

nav a:hover {
  color: #FFFFFF;
}
