<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    {{#link-to "index"}}<a class="navbar-brand navbar-left">Epicodus Message Board</a>{{/link-to}}
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to "index"}}<a>Home<span class="sr-only">(current)</span></a>{{/link-to}}</li>
      <!-- <li><a>Admininstrator<span class="sr-only"></span></a></li> -->
    </ul>
  </div>
</nav>

{{outlet}}
