<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    {{#link-to "index"}}<a class="navbar-brand navbar-left">Epicodus Message Board</a>{{/link-to}}
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="#">Admininstrator<span class="sr-only"></span></a></li>
    </ul>
  </div>
</nav>
<div class="content">
  {{outlet}}
</div>
