{{question-detail question=model}}
{{update-question question=model updateQuestion="updateQuestion"}}

<hr>
<div class="answers-list">
  <h1>Answers</h1>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>

{{new-answer saveAnswer="saveAnswer" question=model}}
