{{question-detail question=model}}

<div class="answers-list">
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>

{{new-answer saveAnswer="saveAnswer" question=model}}
